body {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.6;
  outline: orange 2px dashed
}

h1, h2, h3, h4 {
  font-size: 2em;
  font-style: italic;
  font-weight: 777;
  padding-left: 0.5em;
}

#page-wrapper {
  outline: #FFFFFF 2px dashed;
}

#main-nav {
  width: 100%;
  float: left;
  outline: blue 2px dashed;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #A689C4;
  display: flex;
  justify-content: center;
}

#main-nav ul li a {
  display: block;
  color: white;
  font-weight: 500;
  padding: 14px 16px;
  text-decoration: none;
}

#main-nav ul li a:hover:not(.active) {
  color: #EE2AA9;
}

#main-nav ul li a.active {
  color: #EDFF36;
}

#main-content {
  background-color: #342F3C;
  color: #FDEFF1;
  width: 54.2%;
  margin: 0;
  border: 2px groove #FF99D9;
  border-radius: 10px;
  outline: yellow 2px dashed;
}

#about-me {
  padding-left: 0.1em;
  padding-right: 0.1em;
  text-align: justify;
  border: 2px groove #A689C4;
  border-radius: 10px;
  outline: red 2px dashed;
}

