body {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.6;
}

#page-wrapper {
  width: 54.68%;
  outline: #FFFFFF 2px dashed;
}